.paper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .mobilePaper {
    height: 100dvh;
    --paper-radius: none !important;
  }
}

.button {
  height: 36px;
}
