.root {
  display: flex;
  align-items: center;
  height: 100dvh;
  padding-top: rem(80px);
  padding-bottom: rem(120px);
  background: linear-gradient(120deg, #8db8ab, #ffffff);
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  text-align: center;
  font-weight: 900;
  font-size: rem(38px);
  color: var(--mantine-color-white);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  }
}
